run = "npm start"
hidden = [".config", "package-lock.json"]
language = "nodejs"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = true

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun" 